{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "10.14.1"
          }
        }
      ]
    ],
    "env": {
      "production": {
        "ignore": ["**/*.test.js", "**/test"]
      }
    }
  }